.contact {

    margin-bottom: 140px;
  
    @media all and (max-width: 1080px) {
        margin-bottom: 120px;
    }

    @media all and (max-width: 800px) {
        margin-bottom: 96px;
    }

    @media all and (max-width: 630px) {
        margin-bottom: 72px;
    }


    // &__sub_container {
    //     margin-bottom: 140px;
    // }

    &__title_container{ 
        margin-bottom: 122px;

        @media all and (max-width: 1080px) {
            margin-bottom: 80px;
        }

        @media all and (max-width: 800px) {
            margin-bottom: 40px;
        }
    
    }

 
    &__inner{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @media all and (max-width: 1080px) {
            display: block;
        }
    
        // @media all and (max-width: 800px) {
        //     padding-top: 230px;
        //     padding-bottom: 44px;
        // }
    
        // @media all and (max-width: 485px) {
        //     padding-top: 0;
        //     padding-bottom: 22px;
        // }
    
    }

   &__text{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-bottom: 88px;
        
        @media all and (max-width: 800px) {
            width: 80%;
        }

        @media all and (max-width: 630px) {
            width: 100%;
        }

        &_text{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 31px;
            color: (--white);

            @media all and (max-width: 1080px) {
                font-size: 22px;
            }

            @media all and (max-width: 800px) {
                font-size: 18px;
            }

            @media all and (max-width: 630px) {
                font-size: 16px;
            }
        
        }

        @media all and (max-width: 1080px) {
          margin-bottom: 50px;
        }
    

      
   }

    &__inner__title{
        margin-bottom: 70px;
        width: fit-content;

        @media all and (max-width: 1080px) {
            width: 100%;
            margin-bottom: 50px;
        }
    

        &_title{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 31px;
            color: var(--white);
            margin-bottom: 16px;
            // width: fit-content;
            display: inline-block;
        }
        &_border_arrow {
            position: absolute;
            left: -20px;
            top: -30px;
        }
    }
}