.portfolio {

    margin-bottom: 140px;
  
    @media all and (max-width: 1080px) {
        margin-bottom: 120px;
    }

    @media all and (max-width: 800px) {
        margin-bottom: 96px;
    }

    @media all and (max-width: 630px) {
        margin-bottom: 72px;
    }

    &__title {
        margin-bottom: 100px;

        @media all and (max-width: 800px) {
            margin-bottom: 60px;
        }
    }
}